body{
  display: flex;
  flex-direction: column;
  /* overflow: hidden; */
  background-color: rgb(219, 237, 254);
  align-items: center;
  font-family: 'Poppins',Arial;
  margin:0;
  padding:0;
  height: 100%;

}
html {
  scroll-behavior: smooth;
  height: 100%;
}
section{
  display: flex;
  background-color: rgb(219, 237, 254);
  min-height: 100vh;
  /* scroll-margin-top:60px; */
}
a{
  font-size: 20px;
  color:rgb(104, 100, 235);
  font-weight: bold;
  text-decoration: none;
  cursor: pointer !important;
}
i {
  cursor: pointer;
}
hr{
  background-color: rgb(104, 100, 235);
  border: none;
  height: 2.5px;
  width: 215px;
  margin-top: 0px;
}
.header{
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 8vh;
  width: 101%;
  margin-top: -10px;
  position: fixed;
  z-index: 1500; 
}
.house{
  display: flex;
  width: 30px;
  margin-left: 15px;
  color:rgb(104, 100, 235);
}
.house-text{
  font-size:20px;
  margin-left: 10px;
  color:rgb(104, 100, 235);
  font-weight: bold;
}
.second-part{
  display: flex;
  width: 500px;
  margin-right:50px;
  justify-content: space-between;
  font-family: 'Poppins',Arial;
  align-items: center;
  font-size: 20px;
  color:rgb(104, 100, 235);
  font-weight: bold;


}
.first-part{
  display: flex;
  margin-left:25px;
}
.main-box{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width:100%;
  height:100vh;
  position: relative;
  gap: 200px;
  
}
.img-holder{
  background-image: url('abstract.svg');
  width: 600px;
  height: 412px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-top:50px;
  margin-left:700px; */
}
.qoute{
  font-style: bold;
  font-weight: bold;
  font-size: 50px;
  color:rgb(104, 100, 235);
}
.qoute-box{
  width:500px;
  margin-bottom: 270px;
}
.tagline{
  font-size: 20px;
  font-weight: bold;
  color:rgb(76, 75, 75);
}
.sides{
  font-weight: bold;
  color:rgb(104, 100, 235);
}
.bar{
  height:44px;
  width: 460px;
  border: none;
  border-radius: 30px;
  box-shadow: 1px 1px 5px gray;
}
.bar::placeholder{
  font-family: 'Poppins',Arial;
  font-weight: bold;
  font-size: 15px;
  color: rgb(157, 156, 156);
  padding-left: 20px;
}
.email-bar,.name-bar,.phone-bar,.msg-bar{
display: flex;
align-items:center;
justify-content: space-between;
gap:20px;
width:580px;
}
.bar-msg{
  height:120px;
}
.submit-btn{
  border: none;
  background-color: rgb(104, 100, 235);
  color: white;
  font-family: 'Poppins',Arial;
  font-weight: bold;
  width:98px;
  height:40px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px gray;
}
.white-box{
  background-color: white;
  width: 700px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 30px;
  box-shadow: 1px 1px 5px gray;
}
#home{
  margin-top:150px;
  scroll-margin-top: 100px;
}

#contact{
  display: flex;
  flex-direction: column;
}
.con-head,.features-head,.blog-title{
  font-size: 3em;
  color: rgb(76,75,75);
  margin-top:80px;
  height: 50px;
  margin-bottom: 30px;

}
.features-head{
  margin-top:70px;
  margin-bottom:20px;
}
.space-box{
  height: 100px;
  width: 100%;
}
#about{
  display: flex;
  flex-direction: column;
}
.about-head{
  font-size: 3.5em;
  color: rgb(76,75,75);
  margin-top:100px;


}
.about-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap:50px;
}
.about-img{
  background-image: url('about-pic.svg');
  width: 600px;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: right;
}
.abt-text{
  width: 500px;
}
.f-img{
  background-image: url('feature-img.svg');
  width: 450px;
  height: 423px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.9;
}
.f-container{
  display: flex;
  justify-content: space-between;
  max-width:100vw;
  align-items: center;
  width: 120%;
  margin-left:0px;
  padding:0;
}
#features{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left:-180px;
}
.feature-box{
  height: 500px;
  width:600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap:30px;
}
.f1,.f2,.f3,.f4{
  background-color: white;
  height:  calc(50% - 15px);
  width: calc(50% - 15px);
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 1px 1px 5px gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 5px 5px 5px;
}
.f-title{
  font-family: 'Poppins',Arial;
  font-weight: bold;
  font-size: 18px;
  color: rgb(53, 53, 53);
  margin: 20px 95px;
}
.lorem{
  font-size: 14px;
  width: 230px;
}
#blog{
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}
.blog-box{
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px gray;
  width: 500px;
  height: 70%;
  border-radius: 30px;
}
.b1{
  background-color: white;
  box-shadow: 5px 5px rgb(104, 100, 235);
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.img-blog{
  background-image: url('blog-img.svg');
  width: 650px;
  height: 562px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.blog-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-title{
  font-size: 2.5em;
  margin-bottom: 0px;


}
.b{
  width:500px;
  height:1px;
}
.lorem-2{
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 50px;
}
.cursor{
  background-image: url('black-cursor.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width:100px;
  height: 100px;
  z-index: 1000;
  margin-left:400px;
  margin-bottom: 120px;

}

